@charset "UTF-8";

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #000000;
	background-image:url(images/blue_gradient_ppt_background.jpg);
	margin: 0,0,0,0;
	padding: 0;
	color: #FFEBCD;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}
a img {
	border: none;
}

a:link {
	color: #333;
	text-decoration: underline;
}
a:visited {
	color: #333;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: underline;
}

td{
	text-align:center;
}

.container {
	margin: 0 auto;
}

.content {

	padding: 10px 0;
}

.grandCentralStation {
	padding: 18px 25px 25px 25px;
    float: right;
    right: -50%;
    position: relative;
	opacity: 0.8;
	color:#333;
	position:relative;
	width:600px;
	filter: alpha(opacity=80);
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background: #fff;
}

.bubbleHeader {
	font-size:22px;
}

.nameAtTop {
	margin:28px,0px,0px,0px;
	font-size:32px;
}

.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.outer-center {
    float: right;
    right: 50%;
    position: relative;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}